node-red/flow.json
[{"id":"5cd0d08adae6549a","type":"tab","label":"BG & DC Automation","disabled":false,"info":"","env":[]},{"id":"7d85c013feee455b","type":"group","z":"5cd0d08adae6549a","name":"Automatic Switch","style":{"stroke":"#3f93cf","label":true,"fill":"#bfdbef","label-position":"n","color":"#000000"},"nodes":["c743b393e86c1fe9","ae537d26dd0ba5a3","0be8971ca31e73f4","a1df9627f14eb8da","c8ce7bbedf5e5ed0","1ad57eac55a7dcb8","79d9f55c664f7516","60fd50adaf03ab3c","06c6c60130296981"],"x":44,"y":2039,"w":1208,"h":268},{"id":"6115d787e30ec91a","type":"group","z":"5cd0d08adae6549a","name":"Manual Control Blastgate 3","style":{"stroke":"#ffC000","fill":"#ffefbf","label":true,"label-position":"n","color":"#000000"},"nodes":["f5506a9b02e91174","874c7ddf21cd6535","be90ae20af77bc3f","27058224eb4094b4","f538c77cb9ac0ad7","9a675e4d2935dd52","f17b291a1c9029c2","c95dd15e80307b1b"],"x":1294,"y":2079,"w":812,"h":222},{"id":"40d23315b1bb4497","type":"group","z":"5cd0d08adae6549a","name":"Manual Control Blastgate 2","style":{"stroke":"#ffC000","label":true,"fill":"#ffefbf","label-position":"n","color":"#000000"},"nodes":["469488621a4e35b9","8f3b98aa4de15101","5a6323e95f27c762","6d61738138495129","2ab7919d5a8fa14c","169c05068b38d14d","ca422a3a391078c2","0d67fab304e67a8f"],"x":1294,"y":1839,"w":812,"h":222},{"id":"a6ed29e14c721759","type":"group","z":"5cd0d08adae6549a","name":"Manual Control Blastgate 1","style":{"label":true,"stroke":"#ffC000","fill":"#ffefbf","label-position":"n","color":"#000000"},"nodes":["0228168b75dc7235","77e7cce07320b858","58c14e5620f0e489","1a2089aa60768a11","e6f1978ba57f5b0e","876a88f7f970e6fc","2b5cc736a4ad9f44","1ba7e44aa8cb03d4"],"x":1294,"y":1599,"w":812,"h":222},{"id":"188afd23066af66a","type":"group","z":"5cd0d08adae6549a","name":"Use Saw or Planer","style":{"stroke":"#ff7f7f","fill":"#ffbfbf","label":true,"label-position":"n","fill-opacity":"0.5","color":"#000000"},"nodes":["08605d4625fea453","fbc30514ba22871d","3a7241ee2d2b3eb1","163fb7b4f9c4b561","6e461d573ce15b84","6c21521319471c82","e8b78705577bf1ac","2ed29453c4f4fcdf","a82809e41b482876","f982c882764f2a82","ec60663e3e18f3a4","6870b2c018c5f8d7","528ccf7dd8d243b6","9a8b51609c90b533","94be311e87760a2a","45ebdccc649848c8","b8624f3dba25bd00","024fc8a4705e70dc","f60f4e1434dc5822","d82e5a4d27205306","ae0065437c09099b","d80c4340c62e2da2","87a100bc6d5e0c08","53d86ca0539a0ade","1abe95b220dbf088","765f27774ff52855","f7847dcbb64e245a","6c4b7c0242f6d0a4","2dad48441a3186fe","bc0ccf9af3dd9a29","b96bc9b6e1493fd3","47bde3e5fadaa945","efdaa28a2244cbd3","0d0b4bdede508414","5fcd319caa0fab4e","fbde97a1788c057a","d85936ffa02a31d0","7d3a48c896aa85a6","ef33a9fa481d1f96"],"x":34,"y":1599,"w":1212,"h":402},{"id":"14f5a5b223319a48","type":"group","z":"5cd0d08adae6549a","name":"Dustcollector","style":{"stroke":"#ffff00","fill":"#ffffbf","label":true,"label-position":"n","color":"#000000"},"nodes":["d5eba3273d416b39","2a35da1b41c5617d","f326070b8b034ce0","5eec17433396d5e1","a684949311fe783b","f2f8a3e7ac103394","216b3ab136b77c0d","26b74b389d62e91c","36041adc7eb784bd","dec7fbc948d46828","795b536d475ec606","13bf4a1f517a8f89","99480852310a684a","0b2898abfc811622","e2090752226e3e42","73764a598cc00c35","5d2a7bf42f78bfcc","4694ed0bc0a5a4ca","0a185fdb77a54cc1","a71dd68cd04ee43b","47366d272a9c5c9c","2229dc72e46e56de","8120d62a3fb3b574","7cd6ec11646b631b","c38231e9fa8aa07d","480e6ef2cf7c72a5","af2ce1b480520a17","abbdf4729d2b2eea","cfd23c5db8228cf0"],"x":34,"y":1219,"w":1722,"h":362},{"id":"01aefba062c2380f","type":"group","z":"5cd0d08adae6549a","name":"Global Status Saw & Planer","style":{"stroke":"#ffcf3f","fill":"#ffefbf","label":true,"label-position":"n","color":"#3f3f3f"},"nodes":["c89473dff3773022","5e6cb5b42529cfd8","5b3ecdf9b5ef084b","9487e3aedc48e73e","089c16ed58dac597","59d4d9539e22b93d","8ca434a37d14d4b8","0b5d0dcabadbc774","60f8f65e1f6eeb5a","059da7892dbdfdb9","bad5232bc699e746","7de654899c17fbd7","eed0329801e882ce","8c348052eb822a49","cfea31084730f04f","d7fa681178f18b1e","18a5b3f0e778f5ab","704b24efc9ab8ff9","e0842b6f5509207e","37d4ccb0a144f3b6","63a60b43f1444ba2","46d58fb2a626ec1f","7522487d1a52b99c","cc53ae5057b39a15","b1b8dc71867b4eef","86843e0360151556","d72fc850298bb5c4","833a2ec8ff82065e","202e984e1ed05494"],"x":34,"y":819,"w":1932,"h":362},{"id":"345107df9b11731d","type":"group","z":"5cd0d08adae6549a","name":"Status Logic","style":{"stroke":"#92d04f","fill":"#e3f3d3","label":true,"label-position":"n","color":"#000000"},"nodes":["7e542349c094140d","aa947a4a5a0e1c20","737ab0c245c38631","afdc1b1c0e4dab3b","11d0cf02191891e4","9b0736a6ebd2eb57","b9536d512fe4595e","21d28961a86f0a34","d86384d0f4e5e49c","d1a2725a3a3d3f88","4591f836b13ccb4e","114fe37d67471293","4c1a35bf56b2f686","46ebfab9bb1b36ea","2c9f179f4a234ad2","30ca07f1521895a3","7b28d5ba0300d369","61430597b8e6ed93","9a642d2daffa989d","ea7d94242a512e72","c9a7ae0ee8fa1c09","d7038808493bf9dc","f417cd564f91f3e4","30c07ac2421d7c52","240b1e613051eb88","36b675040b41deaa","e6098302bd0ba465","17ba3f751e19949e","43b2d3b9d5a1a676","01f416d9947ee73b","1279d71e626b88ec","1e567881fc24eebe","807006e35a5dd796","300d3d6253aace4c","c85d5f1b68a3c51c","2fcf155e259750ed","fa711141fdb614a5","47ba902bfdeb63af","8b665492db5f705e","a335cfa1e9d6dcbe","5446338227dba8a4","f479efb28cbd6527","afc7bb77adfbefb8","c7e25e2be39dc3c0","67670e2f3f82b7e7","59cd7afb0865fc44","dc8139f14ca9e184","987d975c573c1761","c81d9f670b053bb7","d1d2ca1e091a6ab6","812080ea58d38904","eb46aa9751c97a75","60495a4552bf4e2e","9c6acae1902a1c58","7c03e926a20bf452","32dcf95a3f1050ab","b63f3985e0e4e7b4","af2fbfd1d6294f76","c5cc046de4627de8","efdca2f65b7be378","c52151298731ca25","d32cc9c7bf033cdb","737c1532d86a2e91","35aca6672842d4f7","b75a58be120c3e3e","37a67e638bb34ed8","fc07293887e4db76","4ab181a15202d545","66da036090c5172e","b3083d94fe99bf2f","616d08ef57572a24","d40b9fe004b9859c","c5823ac23653c1fc","ddaf77337ee704f3","c6373f3acf807d82","a4f8f2c6fd7baae0","d839770fe2e37ef0","110658c27fe11f2a","6a1f7a6de54366fb","793ee0de403c387c","471e7327828f86b6","4b31b0eb011a7358","fe91187bc950e3d4","a6b27788f5b456d1","fc54eeb6982df8b0","16ed54dea199e8e0","76010f644fcc0c1f","eb6366e48bed364f","46f9243f446618a2","897bda01d27bc5bd","3d1df175255b2866","d17979b9260fb5dd","570eff1e79c5a29a","29d6042e74084bcb","0c227e2cae430c93","2499bec7e24632cf","a171ac11c577887a","c40e0f2ab1bc0d55","4b82e9f8b219e75e","525ecb3d31f503c7","ef058d2f5365c299","ca3e8fdd158cc9a3","664523222497625b","447b55679c1d1975","dafd673b8d3065a2","0364df1d0e9cf745","2c775f6a7eb76cef"],"x":34,"y":19,"w":2592,"h":762},{"id":"06c6c60130296981","type":"group","z":"5cd0d08adae6549a","g":"7d85c013feee455b","name":"","style":{"stroke":"#0070c0","fill":"#bfdbef","label":true},"nodes":["51e5b33c36cea90a","ec60fa279b2cfb07","eed6f32410c8a45d","1c44a5056639603d","ab314c054bbfa5eb","70a5dddcd76a2c4e"],"x":564,"y":2079,"w":662,"h":202},{"id":"7e542349c094140d","type":"switch","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"status2","property":"payload.status","propertyType":"msg","rules":[{"t":"neq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1060,"y":320,"wires":[["30ca07f1521895a3"]]},{"id":"aa947a4a5a0e1c20","type":"switch","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"status3","property":"payload.status","propertyType":"msg","rules":[{"t":"neq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1060,"y":500,"wires":[["36b675040b41deaa"]]},{"id":"737ab0c245c38631","type":"switch","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"status4","property":"payload.status","propertyType":"msg","rules":[{"t":"neq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1060,"y":680,"wires":[["7c03e926a20bf452"]]},{"id":"afdc1b1c0e4dab3b","type":"switch","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"status1","property":"payload.status","propertyType":"msg","rules":[{"t":"neq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1060,"y":140,"wires":[["11d0cf02191891e4"]]},{"id":"11d0cf02191891e4","type":"switch","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"saw on?","property":"saw_voltage_global","propertyType":"global","rules":[{"t":"gt","v":"0.5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1200,"y":140,"wires":[["2c9f179f4a234ad2"]]},{"id":"9b0736a6ebd2eb57","type":"link out","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"Status1 Dustcollector Link","mode":"link","links":["21d28961a86f0a34","dec7fbc948d46828"],"x":1915,"y":60,"wires":[]},{"id":"b9536d512fe4595e","type":"change","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"(S) -> S1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":140,"wires":[["46ebfab9bb1b36ea","efdca2f65b7be378","c52151298731ca25","a171ac11c577887a"]]},{"id":"21d28961a86f0a34","type":"link in","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"Current status link out","links":["0b2898abfc811622","0be8971ca31e73f4","0d67fab304e67a8f","1ad57eac55a7dcb8","1ba7e44aa8cb03d4","26b74b389d62e91c","67670e2f3f82b7e7","7b28d5ba0300d369","8b665492db5f705e","9b0736a6ebd2eb57","c95dd15e80307b1b","e6098302bd0ba465"],"x":105,"y":180,"wires":[["2499bec7e24632cf"]]},{"id":"d86384d0f4e5e49c","type":"PCA9685 out","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"Blastgate 1","pca9685":"6095e8fcd95f1634","channel":"1","payload":"[msg.payload]","unit":"microseconds","onStep":"0","x":2070,"y":100,"wires":[]},{"id":"d1a2725a3a3d3f88","type":"PCA9685 out","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"Blastgate 2","pca9685":"6095e8fcd95f1634","channel":"2","payload":"[msg.payload]","unit":"microseconds","onStep":"0","x":2070,"y":140,"wires":[]},{"id":"4591f836b13ccb4e","type":"PCA9685 out","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"Blastgate 3","pca9685":"6095e8fcd95f1634","channel":"3","payload":"[msg.payload]","unit":"microseconds","onStep":"0","x":2070,"y":180,"wires":[]},{"id":"114fe37d67471293","type":"delay","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1900,"y":180,"wires":[["4591f836b13ccb4e"]]},{"id":"4c1a35bf56b2f686","type":"delay","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1900,"y":140,"wires":[["d1a2725a3a3d3f88"]]},{"id":"46ebfab9bb1b36ea","type":"change","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"OPEN","rules":[{"t":"set","p":"payload","pt":"msg","to":"2100","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1730,"y":140,"wires":[["4c1a35bf56b2f686","37a67e638bb34ed8"]]},{"id":"2c9f179f4a234ad2","type":"switch","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"planer on?","property":"planer_voltage_global","propertyType":"global","rules":[{"t":"gt","v":"0.5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1350,"y":140,"wires":[["b9536d512fe4595e"]]},{"id":"30ca07f1521895a3","type":"switch","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"saw on?","property":"saw_voltage_global","propertyType":"global","rules":[{"t":"gt","v":"0.5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1200,"y":320,"wires":[["240b1e613051eb88"]]},{"id":"7b28d5ba0300d369","type":"link out","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"Status2 Dustcollector Link","mode":"link","links":["21d28961a86f0a34","dec7fbc948d46828"],"x":1915,"y":240,"wires":[]},{"id":"61430597b8e6ed93","type":"change","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"(S) -> S2","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":320,"wires":[["30c07ac2421d7c52","32dcf95a3f1050ab","c5cc046de4627de8","c40e0f2ab1bc0d55"]]},{"id":"9a642d2daffa989d","type":"PCA9685 out","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"Blastgate 1","pca9685":"6095e8fcd95f1634","channel":"1","payload":"[msg.payload]","unit":"microseconds","onStep":"0","x":2070,"y":280,"wires":[]},{"id":"ea7d94242a512e72","type":"PCA9685 out","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"Blastgate 2","pca9685":"6095e8fcd95f1634","channel":"2","payload":"[msg.payload]","unit":"microseconds","onStep":"0","x":2070,"y":320,"wires":[]},{"id":"c9a7ae0ee8fa1c09","type":"PCA9685 out","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"Blastgate 3","pca9685":"6095e8fcd95f1634","channel":"3","payload":"[msg.payload]","unit":"microseconds","onStep":"0","x":2070,"y":360,"wires":[]},{"id":"d7038808493bf9dc","type":"delay","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1900,"y":360,"wires":[["c9a7ae0ee8fa1c09"]]},{"id":"f417cd564f91f3e4","type":"delay","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1900,"y":320,"wires":[["ea7d94242a512e72"]]},{"id":"30c07ac2421d7c52","type":"change","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"OPEN","rules":[{"t":"set","p":"payload","pt":"msg","to":"2100","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1730,"y":320,"wires":[["f417cd564f91f3e4","c6373f3acf807d82"]]},{"id":"240b1e613051eb88","type":"switch","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"planer off?","property":"planer_voltage_global","propertyType":"global","rules":[{"t":"lt","v":"0.5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1350,"y":320,"wires":[["61430597b8e6ed93"]]},{"id":"36b675040b41deaa","type":"switch","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"saw off?","property":"saw_voltage_global","propertyType":"global","rules":[{"t":"lt","v":"0.5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1200,"y":500,"wires":[["c85d5f1b68a3c51c"]]},{"id":"e6098302bd0ba465","type":"link out","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"Status3 Dustcollector Link","mode":"link","links":["21d28961a86f0a34","dec7fbc948d46828"],"x":1915,"y":420,"wires":[]},{"id":"17ba3f751e19949e","type":"change","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"(S) -> S3","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":500,"wires":[["300d3d6253aace4c","b63f3985e0e4e7b4","af2fbfd1d6294f76","4b82e9f8b219e75e"]]},{"id":"43b2d3b9d5a1a676","type":"PCA9685 out","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"Blastgate 1","pca9685":"6095e8fcd95f1634","channel":"1","payload":"[msg.payload]","unit":"microseconds","onStep":"0","x":2070,"y":460,"wires":[]},{"id":"01f416d9947ee73b","type":"PCA9685 out","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"Blastgate 2","pca9685":"6095e8fcd95f1634","channel":"2","payload":"[msg.payload]","unit":"microseconds","onStep":"0","x":2070,"y":500,"wires":[]},{"id":"1279d71e626b88ec","type":"PCA9685 out","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"Blastgate 3","pca9685":"6095e8fcd95f1634","channel":"3","payload":"[msg.payload]","unit":"microseconds","onStep":"0","x":2070,"y":540,"wires":[]},{"id":"1e567881fc24eebe","type":"delay","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1900,"y":540,"wires":[["1279d71e626b88ec"]]},{"id":"807006e35a5dd796","type":"delay","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1900,"y":500,"wires":[["01f416d9947ee73b"]]},{"id":"300d3d6253aace4c","type":"change","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"CLOSE","rules":[{"t":"set","p":"payload","pt":"msg","to":"1000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1740,"y":500,"wires":[["807006e35a5dd796","471e7327828f86b6"]]},{"id":"c85d5f1b68a3c51c","type":"switch","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"planer on?","property":"planer_voltage_global","propertyType":"global","rules":[{"t":"gt","v":"0.5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1350,"y":500,"wires":[["17ba3f751e19949e"]]},{"id":"2fcf155e259750ed","type":"switch","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"99 active?","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"99","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":400,"wires":[["987d975c573c1761"]]},{"id":"fa711141fdb614a5","type":"switch","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"planer off?","property":"planer_voltage_global","propertyType":"global","rules":[{"t":"lt","v":"0.5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1350,"y":680,"wires":[["a335cfa1e9d6dcbe"]]},{"id":"47ba902bfdeb63af","type":"change","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"(S) -> S4","rules":[{"t":"set","p":"payload","pt":"msg","to":"4","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1740,"y":660,"wires":[["5446338227dba8a4","525ecb3d31f503c7"]]},{"id":"8b665492db5f705e","type":"link out","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"link out 4","mode":"link","links":["21d28961a86f0a34"],"x":2115,"y":640,"wires":[]},{"id":"a335cfa1e9d6dcbe","type":"switch","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"collector on?","property":"dustcollector_state","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1520,"y":680,"wires":[["47ba902bfdeb63af"],["59cd7afb0865fc44"]]},{"id":"5446338227dba8a4","type":"delay","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1970,"y":680,"wires":[["f479efb28cbd6527"]]},{"id":"f479efb28cbd6527","type":"switch","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"saw off?","property":"saw_voltage_global","propertyType":"global","rules":[{"t":"lt","v":"0.5","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2120,"y":680,"wires":[["afc7bb77adfbefb8"]]},{"id":"afc7bb77adfbefb8","type":"switch","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"planer off?","property":"planer_voltage_global","propertyType":"global","rules":[{"t":"lt","v":"0.5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":2270,"y":680,"wires":[["c7e25e2be39dc3c0"]]},{"id":"c7e25e2be39dc3c0","type":"change","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"turn off collector","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2450,"y":680,"wires":[["46f9243f446618a2"]]},{"id":"dec7fbc948d46828","type":"link in","z":"5cd0d08adae6549a","g":"14f5a5b223319a48","name":"Main Dustcollector Link","links":["7b28d5ba0300d369","9b0736a6ebd2eb57","e6098302bd0ba465"],"x":75,"y":1320,"wires":[["795b536d475ec606"]]},{"id":"795b536d475ec606","type":"delay","z":"5cd0d08adae6549a","g":"14f5a5b223319a48","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":200,"y":1320,"wires":[["5d2a7bf42f78bfcc","0a185fdb77a54cc1","47366d272a9c5c9c","8120d62a3fb3b574"]]},{"id":"13bf4a1f517a8f89","type":"change","z":"5cd0d08adae6549a","g":"14f5a5b223319a48","name":"turn on collector","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":1300,"wires":[["73764a598cc00c35"]]},{"id":"99480852310a684a","type":"change","z":"5cd0d08adae6549a","g":"14f5a5b223319a48","name":"(S) -> S0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1380,"wires":[["0b2898abfc811622"]]},{"id":"0b2898abfc811622","type":"link out","z":"5cd0d08adae6549a","g":"14f5a5b223319a48","name":"link out 5","mode":"link","links":["21d28961a86f0a34"],"x":1005,"y":1380,"wires":[]},{"id":"e2090752226e3e42","type":"function","z":"5cd0d08adae6549a","g":"14f5a5b223319a48","name":"save state dustcollector","func":"var dustcollector_state = msg.payload;\n\nflow.set(\"dustcollector_state\", dustcollector_state);\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1380,"y":1280,"wires":[[]]},{"id":"c743b393e86c1fe9","type":"inject","z":"5cd0d08adae6549a","g":"7d85c013feee455b","name":"Automatic Off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":2080,"wires":[["ae537d26dd0ba5a3","79d9f55c664f7516"]]},{"id":"ae537d26dd0ba5a3","type":"change","z":"5cd0d08adae6549a","g":"7d85c013feee455b","name":"write status 99","rules":[{"t":"set","p":"payload","pt":"msg","to":"99","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":2080,"wires":[["0be8971ca31e73f4"]]},{"id":"0be8971ca31e73f4","type":"link out","z":"5cd0d08adae6549a","g":"7d85c013feee455b","name":"link out 7","mode":"link","links":["21d28961a86f0a34","eed6f32410c8a45d"],"x":495,"y":2080,"wires":[]},{"id":"a1df9627f14eb8da","type":"change","z":"5cd0d08adae6549a","g":"7d85c013feee455b","name":"write status 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":2220,"wires":[["1ad57eac55a7dcb8"]]},{"id":"c8ce7bbedf5e5ed0","type":"inject","z":"5cd0d08adae6549a","g":"7d85c013feee455b","name":"Automatic On","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":2220,"wires":[["a1df9627f14eb8da","60fd50adaf03ab3c"]]},{"id":"1ad57eac55a7dcb8","type":"link out","z":"5cd0d08adae6549a","g":"7d85c013feee455b","name":"link out 8","mode":"link","links":["21d28961a86f0a34","eed6f32410c8a45d"],"x":495,"y":2220,"wires":[]},{"id":"67670e2f3f82b7e7","type":"link out","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"link out 9","mode":"link","links":["21d28961a86f0a34"],"x":2115,"y":720,"wires":[]},{"id":"59cd7afb0865fc44","type":"change","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"(S) -> S0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1740,"y":700,"wires":[["ef058d2f5365c299"]]},{"id":"dc8139f14ca9e184","type":"debug","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"Current Status","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":680,"y":360,"wires":[]},{"id":"987d975c573c1761","type":"switch","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"isAutoOFF","property":"isAutoOFF","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":400,"wires":[["aa947a4a5a0e1c20","7e542349c094140d","afdc1b1c0e4dab3b","737ab0c245c38631"]]},{"id":"79d9f55c664f7516","type":"change","z":"5cd0d08adae6549a","g":"7d85c013feee455b","name":"isAutoOFF -> True","rules":[{"t":"set","p":"isAutoOFF","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":2120,"wires":[[]]},{"id":"60fd50adaf03ab3c","type":"change","z":"5cd0d08adae6549a","g":"7d85c013feee455b","name":"isAutoOFF -> False","rules":[{"t":"set","p":"isAutoOFF","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":2260,"wires":[[]]},{"id":"c81d9f670b053bb7","type":"ui_text","z":"5cd0d08adae6549a","g":"345107df9b11731d","group":"61b6d0d42169333a","order":3,"width":0,"height":0,"name":"","label":"Current Flow Status is","format":"{{payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":830,"y":700,"wires":[]},{"id":"d1d2ca1e091a6ab6","type":"change","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"Automatic button","rules":[{"t":"set","p":"payload","pt":"msg","to":"automatic_mode_dashboard","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":460,"wires":[["2499bec7e24632cf"]]},{"id":"812080ea58d38904","type":"link in","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"link in 4","links":["ec60fa279b2cfb07"],"x":105,"y":260,"wires":[["60495a4552bf4e2e","2499bec7e24632cf"]]},{"id":"eb46aa9751c97a75","type":"change","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"","rules":[{"t":"set","p":"isAutoOFF","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":240,"wires":[[]]},{"id":"60495a4552bf4e2e","type":"switch","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"99","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":260,"wires":[["eb46aa9751c97a75"],["9c6acae1902a1c58"]]},{"id":"9c6acae1902a1c58","type":"change","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"","rules":[{"t":"set","p":"isAutoOFF","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":280,"wires":[[]]},{"id":"7c03e926a20bf452","type":"switch","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"saw off?","property":"saw_voltage_global","propertyType":"global","rules":[{"t":"lt","v":"0.5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1200,"y":680,"wires":[["fa711141fdb614a5"]]},{"id":"32dcf95a3f1050ab","type":"change","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"CLOSE","rules":[{"t":"set","p":"payload","pt":"msg","to":"1000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1740,"y":360,"wires":[["d7038808493bf9dc","a4f8f2c6fd7baae0"]]},{"id":"b63f3985e0e4e7b4","type":"change","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"OPEN","rules":[{"t":"set","p":"payload","pt":"msg","to":"2100","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1730,"y":540,"wires":[["1e567881fc24eebe","4b31b0eb011a7358"]]},{"id":"af2fbfd1d6294f76","type":"change","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"CLOSE","rules":[{"t":"set","p":"payload","pt":"msg","to":"1000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1740,"y":460,"wires":[["43b2d3b9d5a1a676","793ee0de403c387c"]]},{"id":"c5cc046de4627de8","type":"change","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"OPEN","rules":[{"t":"set","p":"payload","pt":"msg","to":"2100","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1730,"y":280,"wires":[["9a642d2daffa989d","ddaf77337ee704f3"]]},{"id":"efdca2f65b7be378","type":"change","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"OPEN","rules":[{"t":"set","p":"payload","pt":"msg","to":"2100","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1730,"y":180,"wires":[["114fe37d67471293","fc07293887e4db76"]]},{"id":"c52151298731ca25","type":"change","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"OPEN","rules":[{"t":"set","p":"payload","pt":"msg","to":"2100","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1730,"y":100,"wires":[["d86384d0f4e5e49c","b75a58be120c3e3e"]]},{"id":"d32cc9c7bf033cdb","type":"change","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2390,"y":100,"wires":[["4ab181a15202d545"]]},{"id":"737c1532d86a2e91","type":"change","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2390,"y":140,"wires":[["66da036090c5172e"]]},{"id":"35aca6672842d4f7","type":"change","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2390,"y":180,"wires":[["b3083d94fe99bf2f"]]},{"id":"b75a58be120c3e3e","type":"delay","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2240,"y":100,"wires":[["d32cc9c7bf033cdb"]]},{"id":"37a67e638bb34ed8","type":"delay","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2240,"y":140,"wires":[["737c1532d86a2e91"]]},{"id":"fc07293887e4db76","type":"delay","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2240,"y":180,"wires":[["35aca6672842d4f7"]]},{"id":"4ab181a15202d545","type":"PCA9685 out","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"Blastgate 1","pca9685":"6095e8fcd95f1634","channel":"1","payload":"[msg.payload]","unit":"microseconds","onStep":"0","x":2530,"y":100,"wires":[]},{"id":"66da036090c5172e","type":"PCA9685 out","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"Blastgate 2","pca9685":"6095e8fcd95f1634","channel":"2","payload":"[msg.payload]","unit":"microseconds","onStep":"0","x":2530,"y":140,"wires":[]},{"id":"b3083d94fe99bf2f","type":"PCA9685 out","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"Blastgate 3","pca9685":"6095e8fcd95f1634","channel":"3","payload":"[msg.payload]","unit":"microseconds","onStep":"0","x":2530,"y":180,"wires":[]},{"id":"616d08ef57572a24","type":"change","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2390,"y":280,"wires":[["fe91187bc950e3d4"]]},{"id":"d40b9fe004b9859c","type":"change","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2390,"y":320,"wires":[["a6b27788f5b456d1"]]},{"id":"c5823ac23653c1fc","type":"change","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2390,"y":360,"wires":[["fc54eeb6982df8b0"]]},{"id":"ddaf77337ee704f3","type":"delay","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2240,"y":280,"wires":[["616d08ef57572a24"]]},{"id":"c6373f3acf807d82","type":"delay","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2240,"y":320,"wires":[["d40b9fe004b9859c"]]},{"id":"a4f8f2c6fd7baae0","type":"delay","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2240,"y":360,"wires":[["c5823ac23653c1fc"]]},{"id":"d839770fe2e37ef0","type":"change","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2390,"y":460,"wires":[["16ed54dea199e8e0"]]},{"id":"110658c27fe11f2a","type":"change","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2390,"y":500,"wires":[["76010f644fcc0c1f"]]},{"id":"6a1f7a6de54366fb","type":"change","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2390,"y":540,"wires":[["eb6366e48bed364f"]]},{"id":"793ee0de403c387c","type":"delay","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2240,"y":460,"wires":[["d839770fe2e37ef0"]]},{"id":"471e7327828f86b6","type":"delay","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2240,"y":500,"wires":[["110658c27fe11f2a"]]},{"id":"4b31b0eb011a7358","type":"delay","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":2240,"y":540,"wires":[["6a1f7a6de54366fb"]]},{"id":"fe91187bc950e3d4","type":"PCA9685 out","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"Blastgate 1","pca9685":"6095e8fcd95f1634","channel":"1","payload":"[msg.payload]","unit":"microseconds","onStep":"0","x":2530,"y":280,"wires":[]},{"id":"a6b27788f5b456d1","type":"PCA9685 out","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"Blastgate 2","pca9685":"6095e8fcd95f1634","channel":"2","payload":"[msg.payload]","unit":"microseconds","onStep":"0","x":2530,"y":320,"wires":[]},{"id":"fc54eeb6982df8b0","type":"PCA9685 out","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"Blastgate 3","pca9685":"6095e8fcd95f1634","channel":"3","payload":"[msg.payload]","unit":"microseconds","onStep":"0","x":2530,"y":360,"wires":[]},{"id":"16ed54dea199e8e0","type":"PCA9685 out","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"Blastgate 1","pca9685":"6095e8fcd95f1634","channel":"1","payload":"[msg.payload]","unit":"microseconds","onStep":"0","x":2530,"y":460,"wires":[]},{"id":"76010f644fcc0c1f","type":"PCA9685 out","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"Blastgate 2","pca9685":"6095e8fcd95f1634","channel":"2","payload":"[msg.payload]","unit":"microseconds","onStep":"0","x":2530,"y":500,"wires":[]},{"id":"eb6366e48bed364f","type":"PCA9685 out","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"Blastgate 3","pca9685":"6095e8fcd95f1634","channel":"3","payload":"[msg.payload]","unit":"microseconds","onStep":"0","x":2530,"y":540,"wires":[]},{"id":"f5506a9b02e91174","type":"ui_button","z":"5cd0d08adae6549a","g":"6115d787e30ec91a","name":"","group":"e5b09f7275653156","order":1,"width":4,"height":3,"passthru":false,"label":"Blastgate 3 Open","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"2100","payloadType":"num","topic":"payload","topicType":"msg","x":1410,"y":2140,"wires":[["27058224eb4094b4","f538c77cb9ac0ad7","9a675e4d2935dd52"]]},{"id":"874c7ddf21cd6535","type":"ui_button","z":"5cd0d08adae6549a","g":"6115d787e30ec91a","name":"","group":"e5b09f7275653156","order":2,"width":4,"height":3,"passthru":false,"label":"Blastgate 3 Close","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"1000","payloadType":"num","topic":"payload","topicType":"msg","x":1410,"y":2180,"wires":[["27058224eb4094b4","f538c77cb9ac0ad7","9a675e4d2935dd52"]]},{"id":"be90ae20af77bc3f","type":"ui_button","z":"5cd0d08adae6549a","g":"6115d787e30ec91a","name":"","group":"e5b09f7275653156","order":3,"width":4,"height":3,"passthru":false,"label":"Blastgate 3 Off","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"num","topic":"payload","topicType":"msg","x":1400,"y":2220,"wires":[["27058224eb4094b4","9a675e4d2935dd52"]]},{"id":"27058224eb4094b4","type":"PCA9685 out","z":"5cd0d08adae6549a","g":"6115d787e30ec91a","name":"Blastgate 3","pca9685":"6095e8fcd95f1634","channel":"3","payload":"[msg.payload]","unit":"microseconds","onStep":"0","x":2010,"y":2200,"wires":[]},{"id":"f538c77cb9ac0ad7","type":"delay","z":"5cd0d08adae6549a","g":"6115d787e30ec91a","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1640,"y":2120,"wires":[["f17b291a1c9029c2"]]},{"id":"9a675e4d2935dd52","type":"change","z":"5cd0d08adae6549a","g":"6115d787e30ec91a","name":"write status 99","rules":[{"t":"set","p":"payload","pt":"msg","to":"99","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1940,"y":2260,"wires":[["c95dd15e80307b1b"]]},{"id":"f17b291a1c9029c2","type":"change","z":"5cd0d08adae6549a","g":"6115d787e30ec91a","name":"turn off blastgates","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1830,"y":2120,"wires":[["27058224eb4094b4"]]},{"id":"c95dd15e80307b1b","type":"link out","z":"5cd0d08adae6549a","g":"6115d787e30ec91a","name":"link out 15","mode":"link","links":["21d28961a86f0a34","eed6f32410c8a45d"],"x":2065,"y":2260,"wires":[]},{"id":"469488621a4e35b9","type":"ui_button","z":"5cd0d08adae6549a","g":"40d23315b1bb4497","name":"","group":"80dc1403ee03b425","order":1,"width":4,"height":3,"passthru":false,"label":"Blastgate 2 Open","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"2100","payloadType":"num","topic":"payload","topicType":"msg","x":1410,"y":1900,"wires":[["6d61738138495129","2ab7919d5a8fa14c","169c05068b38d14d"]]},{"id":"8f3b98aa4de15101","type":"ui_button","z":"5cd0d08adae6549a","g":"40d23315b1bb4497","name":"","group":"80dc1403ee03b425","order":2,"width":4,"height":3,"passthru":false,"label":"Blastgate 2 Close","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"1000","payloadType":"num","topic":"payload","topicType":"msg","x":1410,"y":1940,"wires":[["6d61738138495129","2ab7919d5a8fa14c","169c05068b38d14d"]]},{"id":"5a6323e95f27c762","type":"ui_button","z":"5cd0d08adae6549a","g":"40d23315b1bb4497","name":"","group":"80dc1403ee03b425","order":3,"width":4,"height":3,"passthru":false,"label":"Blastgate 2 Off","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"num","topic":"payload","topicType":"msg","x":1400,"y":1980,"wires":[["6d61738138495129","169c05068b38d14d"]]},{"id":"6d61738138495129","type":"PCA9685 out","z":"5cd0d08adae6549a","g":"40d23315b1bb4497","name":"Blastgate 2","pca9685":"6095e8fcd95f1634","channel":"2","payload":"[msg.payload]","unit":"microseconds","onStep":"0","x":2010,"y":1960,"wires":[]},{"id":"2ab7919d5a8fa14c","type":"delay","z":"5cd0d08adae6549a","g":"40d23315b1bb4497","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1640,"y":1880,"wires":[["ca422a3a391078c2"]]},{"id":"169c05068b38d14d","type":"change","z":"5cd0d08adae6549a","g":"40d23315b1bb4497","name":"write status 99","rules":[{"t":"set","p":"payload","pt":"msg","to":"99","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1940,"y":2020,"wires":[["0d67fab304e67a8f"]]},{"id":"ca422a3a391078c2","type":"change","z":"5cd0d08adae6549a","g":"40d23315b1bb4497","name":"turn off blastgates","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1830,"y":1880,"wires":[["6d61738138495129"]]},{"id":"0d67fab304e67a8f","type":"link out","z":"5cd0d08adae6549a","g":"40d23315b1bb4497","name":"link out 16","mode":"link","links":["21d28961a86f0a34","eed6f32410c8a45d"],"x":2065,"y":2020,"wires":[]},{"id":"0228168b75dc7235","type":"PCA9685 out","z":"5cd0d08adae6549a","g":"a6ed29e14c721759","name":"Blastgate 1","pca9685":"6095e8fcd95f1634","channel":"1","payload":"[msg.payload]","unit":"microseconds","onStep":"0","x":2010,"y":1720,"wires":[]},{"id":"77e7cce07320b858","type":"delay","z":"5cd0d08adae6549a","g":"a6ed29e14c721759","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1640,"y":1640,"wires":[["1a2089aa60768a11"]]},{"id":"58c14e5620f0e489","type":"change","z":"5cd0d08adae6549a","g":"a6ed29e14c721759","name":"write status 99","rules":[{"t":"set","p":"payload","pt":"msg","to":"99","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1940,"y":1780,"wires":[["1ba7e44aa8cb03d4"]]},{"id":"1a2089aa60768a11","type":"change","z":"5cd0d08adae6549a","g":"a6ed29e14c721759","name":"turn off blastgates","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1830,"y":1640,"wires":[["0228168b75dc7235"]]},{"id":"e6f1978ba57f5b0e","type":"ui_button","z":"5cd0d08adae6549a","g":"a6ed29e14c721759","name":"","group":"44cb3c51271f997d","order":1,"width":4,"height":3,"passthru":false,"label":"Blastgate 1 Open","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"2100","payloadType":"num","topic":"payload","topicType":"msg","x":1410,"y":1700,"wires":[["77e7cce07320b858","0228168b75dc7235","58c14e5620f0e489"]]},{"id":"876a88f7f970e6fc","type":"ui_button","z":"5cd0d08adae6549a","g":"a6ed29e14c721759","name":"","group":"44cb3c51271f997d","order":2,"width":4,"height":3,"passthru":false,"label":"Blastgate 1 Close","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"1000","payloadType":"num","topic":"payload","topicType":"msg","x":1410,"y":1740,"wires":[["0228168b75dc7235","58c14e5620f0e489"]]},{"id":"2b5cc736a4ad9f44","type":"ui_button","z":"5cd0d08adae6549a","g":"a6ed29e14c721759","name":"","group":"44cb3c51271f997d","order":3,"width":4,"height":3,"passthru":false,"label":"Blastgate 1 Off","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"num","topic":"payload","topicType":"msg","x":1400,"y":1780,"wires":[["0228168b75dc7235","58c14e5620f0e489"]]},{"id":"1ba7e44aa8cb03d4","type":"link out","z":"5cd0d08adae6549a","g":"a6ed29e14c721759","name":"link out 17","mode":"link","links":["21d28961a86f0a34","eed6f32410c8a45d"],"x":2065,"y":1780,"wires":[]},{"id":"d5eba3273d416b39","type":"ui_button","z":"5cd0d08adae6549a","g":"14f5a5b223319a48","name":"","group":"8b6c3f0b2409b73a","order":2,"width":4,"height":3,"passthru":false,"label":"Dustcollector On","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"num","topic":"payload","topicType":"msg","x":770,"y":1460,"wires":[["af2ce1b480520a17"]]},{"id":"2a35da1b41c5617d","type":"ui_button","z":"5cd0d08adae6549a","g":"14f5a5b223319a48","name":"","group":"8b6c3f0b2409b73a","order":3,"width":4,"height":3,"passthru":false,"label":"Dustcollector Off","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"1","payloadType":"num","topic":"topic","topicType":"msg","x":770,"y":1540,"wires":[["af2ce1b480520a17"]]},{"id":"f326070b8b034ce0","type":"change","z":"5cd0d08adae6549a","g":"14f5a5b223319a48","name":"write status 99","rules":[{"t":"set","p":"payload","pt":"msg","to":"99","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1330,"y":1460,"wires":[["26b74b389d62e91c"]]},{"id":"5eec17433396d5e1","type":"ui_text","z":"5cd0d08adae6549a","g":"14f5a5b223319a48","group":"8b6c3f0b2409b73a","order":1,"width":4,"height":3,"name":"","label":"Dustcollector is","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1650,"y":1380,"wires":[]},{"id":"a684949311fe783b","type":"switch","z":"5cd0d08adae6549a","g":"14f5a5b223319a48","name":"status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1300,"y":1380,"wires":[["f2f8a3e7ac103394"],["216b3ab136b77c0d"]]},{"id":"f2f8a3e7ac103394","type":"change","z":"5cd0d08adae6549a","g":"14f5a5b223319a48","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":1360,"wires":[["5eec17433396d5e1"]]},{"id":"216b3ab136b77c0d","type":"change","z":"5cd0d08adae6549a","g":"14f5a5b223319a48","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":1400,"wires":[["5eec17433396d5e1"]]},{"id":"26b74b389d62e91c","type":"link out","z":"5cd0d08adae6549a","g":"14f5a5b223319a48","name":"link out 18","mode":"link","links":["21d28961a86f0a34"],"x":1455,"y":1460,"wires":[]},{"id":"51e5b33c36cea90a","type":"change","z":"5cd0d08adae6549a","g":"06c6c60130296981","name":"set status manual/automatic","rules":[{"t":"set","p":"automatic_mode_dashboard","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":2240,"wires":[[]]},{"id":"ec60fa279b2cfb07","type":"link out","z":"5cd0d08adae6549a","g":"06c6c60130296981","name":"link out 19","mode":"link","links":["812080ea58d38904"],"x":1185,"y":2120,"wires":[]},{"id":"eed6f32410c8a45d","type":"link in","z":"5cd0d08adae6549a","g":"06c6c60130296981","name":"Automatic-mode","links":["c95dd15e80307b1b","0d67fab304e67a8f","1ba7e44aa8cb03d4","1ad57eac55a7dcb8","0be8971ca31e73f4"],"x":605,"y":2120,"wires":[["1c44a5056639603d","ab314c054bbfa5eb","70a5dddcd76a2c4e"]]},{"id":"dafd673b8d3065a2","type":"comment","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"README","info":"# BC & DC Automation\n\nFlow built based on the flowchart. Flow is divided into smaller pieces\n\nGreen and light yellow group is responsible for logic about particular status.\nI used context of Node-RED store data about Saw and Planer data so there is possibility to use this information later on\n\nglobal.saw_voltage_global and global.planer_voltage_global tells us whether the Saw or the Planer is turned ON.\nDelays are used so I2C may have clear readings.\n\nState of button that can be used to switch between manual and the automatic mode is stored as a global.automatic_mode_dashboard\nvariable context. There is also vairbale called flow.isAutoOFF which is a boolean vairbale that's tells the flow\nto stop the feedback loop so it doesn't go on and on.\n\nOrange group is logic behind readings of the saw and the planer and saving it to the context memory\n\nGroup with light blue color is for manual controlling the blastsgates. Works on the same principle - context memory\nAlso by clicking any of the button whether it is on/off/close we are automatically in the manual mode\n\n\n","x":120,"y":60,"wires":[]},{"id":"73764a598cc00c35","type":"link out","z":"5cd0d08adae6549a","g":"14f5a5b223319a48","name":"link out 20","mode":"link","links":["36041adc7eb784bd","abbdf4729d2b2eea","480e6ef2cf7c72a5"],"x":1005,"y":1300,"wires":[]},{"id":"36041adc7eb784bd","type":"link in","z":"5cd0d08adae6549a","g":"14f5a5b223319a48","name":"Dustcollector Status","links":["73764a598cc00c35","46f9243f446618a2","7d3a48c896aa85a6","af2ce1b480520a17"],"x":1215,"y":1380,"wires":[["a684949311fe783b"]]},{"id":"46f9243f446618a2","type":"link out","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"link out 21","mode":"link","links":["36041adc7eb784bd","480e6ef2cf7c72a5","abbdf4729d2b2eea"],"x":2575,"y":680,"wires":[]},{"id":"0364df1d0e9cf745","type":"ui_template","z":"5cd0d08adae6549a","g":"345107df9b11731d","group":"","name":"","order":0,"width":0,"height":0,"format":"<style>\n\n    .nr-dashboard-cardcontainer * {\n        border-radius: 10px;\n        /* box-shadow: rgba(0,0,0,0.10) 0px 5px 15px; */\n    }\n\n    ui-card-panel {\n        border-radius: 10px;\n    }\n\n</style>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","className":"","x":260,"y":60,"wires":[[]]},{"id":"897bda01d27bc5bd","type":"comment","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"Status 1 | SAW=ON | PLANER=ON","info":"","x":1150,"y":100,"wires":[]},{"id":"3d1df175255b2866","type":"comment","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"Status 2 | SAW=ON | PLANER=OFF","info":"","x":1150,"y":280,"wires":[]},{"id":"d17979b9260fb5dd","type":"comment","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"Status 3 | SAW=OFF | PLANER=ON","info":"","x":1150,"y":460,"wires":[]},{"id":"570eff1e79c5a29a","type":"comment","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"Status 4 / Status 0 | SAW=OFF | PLANER=OFF","info":"","x":1190,"y":640,"wires":[]},{"id":"29d6042e74084bcb","type":"comment","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"Status 4 | POST RUN PERIOD","info":"","x":1670,"y":620,"wires":[]},{"id":"0c227e2cae430c93","type":"comment","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"Status 0 | STANDBY","info":"","x":1700,"y":740,"wires":[]},{"id":"2499bec7e24632cf","type":"function","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"MASTER Current status","func":"var status = msg.payload;\n\nmsg.payload = status;\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":400,"wires":[["dc8139f14ca9e184","2fcf155e259750ed","2c775f6a7eb76cef"]]},{"id":"a171ac11c577887a","type":"delay","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1760,"y":60,"wires":[["9b0736a6ebd2eb57"]]},{"id":"c40e0f2ab1bc0d55","type":"delay","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1760,"y":240,"wires":[["7b28d5ba0300d369"]]},{"id":"4b82e9f8b219e75e","type":"delay","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1760,"y":420,"wires":[["e6098302bd0ba465"]]},{"id":"525ecb3d31f503c7","type":"delay","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1980,"y":640,"wires":[["8b665492db5f705e"]]},{"id":"ef058d2f5365c299","type":"delay","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":1980,"y":720,"wires":[["67670e2f3f82b7e7"]]},{"id":"ca3e8fdd158cc9a3","type":"inject","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"Start","props":[{"p":"payload.blank","v":"0","vt":"num"}],"repeat":"1","crontab":"","once":true,"onceDelay":"3","topic":"","x":130,"y":400,"wires":[["2499bec7e24632cf"]]},{"id":"5d2a7bf42f78bfcc","type":"switch","z":"5cd0d08adae6549a","g":"14f5a5b223319a48","name":"saw on?","property":"saw_voltage_global","propertyType":"global","rules":[{"t":"gt","v":"0.5","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":1260,"wires":[["4694ed0bc0a5a4ca"]]},{"id":"4694ed0bc0a5a4ca","type":"switch","z":"5cd0d08adae6549a","g":"14f5a5b223319a48","name":"planer on?","property":"planer_voltage_global","propertyType":"msg","rules":[{"t":"gt","v":"0.5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":1260,"wires":[["13bf4a1f517a8f89"]]},{"id":"0a185fdb77a54cc1","type":"switch","z":"5cd0d08adae6549a","g":"14f5a5b223319a48","name":"saw on?","property":"saw_voltage_global","propertyType":"global","rules":[{"t":"gt","v":"0.5","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":1300,"wires":[["a71dd68cd04ee43b"]]},{"id":"a71dd68cd04ee43b","type":"switch","z":"5cd0d08adae6549a","g":"14f5a5b223319a48","name":"planer off?","property":"planer_voltage_global","propertyType":"global","rules":[{"t":"lt","v":"0.5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":1300,"wires":[["13bf4a1f517a8f89"]]},{"id":"47366d272a9c5c9c","type":"switch","z":"5cd0d08adae6549a","g":"14f5a5b223319a48","name":"saw off?","property":"saw_voltage_global","propertyType":"global","rules":[{"t":"lt","v":"0.5","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":1340,"wires":[["2229dc72e46e56de"]]},{"id":"2229dc72e46e56de","type":"switch","z":"5cd0d08adae6549a","g":"14f5a5b223319a48","name":"planer on?","property":"planer_voltage_global","propertyType":"global","rules":[{"t":"gt","v":"0.5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":1340,"wires":[["13bf4a1f517a8f89"]]},{"id":"8120d62a3fb3b574","type":"switch","z":"5cd0d08adae6549a","g":"14f5a5b223319a48","name":"saw off?","property":"saw_voltage_global","propertyType":"global","rules":[{"t":"lt","v":"0.5","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":1380,"wires":[["7cd6ec11646b631b"]]},{"id":"7cd6ec11646b631b","type":"switch","z":"5cd0d08adae6549a","g":"14f5a5b223319a48","name":"planer off?","property":"planer_voltage_global","propertyType":"global","rules":[{"t":"lt","v":"0.5","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":1380,"wires":[["99480852310a684a"]]},{"id":"c38231e9fa8aa07d","type":"rpi-gpio out","z":"5cd0d08adae6549a","g":"14f5a5b223319a48","name":"Dustcollector","pin":"4","set":true,"level":"1","freq":"","out":"out","bcm":true,"x":1330,"y":1540,"wires":[]},{"id":"480e6ef2cf7c72a5","type":"link in","z":"5cd0d08adae6549a","g":"14f5a5b223319a48","name":"link in 5","links":["46f9243f446618a2","7d3a48c896aa85a6","73764a598cc00c35","af2ce1b480520a17"],"x":1215,"y":1540,"wires":[["c38231e9fa8aa07d"]]},{"id":"08605d4625fea453","type":"PCA9685 out","z":"5cd0d08adae6549a","g":"188afd23066af66a","name":"Blastgate 1","pca9685":"6095e8fcd95f1634","channel":"1","payload":"[msg.payload]","unit":"microseconds","onStep":"0","x":690,"y":1640,"wires":[]},{"id":"fbc30514ba22871d","type":"PCA9685 out","z":"5cd0d08adae6549a","g":"188afd23066af66a","name":"Blastgate 2","pca9685":"6095e8fcd95f1634","channel":"2","payload":"[msg.payload]","unit":"microseconds","onStep":"0","x":690,"y":1680,"wires":[]},{"id":"3a7241ee2d2b3eb1","type":"PCA9685 out","z":"5cd0d08adae6549a","g":"188afd23066af66a","name":"Blastgate 3","pca9685":"6095e8fcd95f1634","channel":"3","payload":"[msg.payload]","unit":"microseconds","onStep":"0","x":690,"y":1720,"wires":[]},{"id":"163fb7b4f9c4b561","type":"delay","z":"5cd0d08adae6549a","g":"188afd23066af66a","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":520,"y":1720,"wires":[["3a7241ee2d2b3eb1"]]},{"id":"6e461d573ce15b84","type":"delay","z":"5cd0d08adae6549a","g":"188afd23066af66a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":520,"y":1680,"wires":[["fbc30514ba22871d"]]},{"id":"6c21521319471c82","type":"change","z":"5cd0d08adae6549a","g":"188afd23066af66a","name":"OPEN","rules":[{"t":"set","p":"payload","pt":"msg","to":"2100","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1680,"wires":[["6e461d573ce15b84","ae0065437c09099b"]]},{"id":"e8b78705577bf1ac","type":"PCA9685 out","z":"5cd0d08adae6549a","g":"188afd23066af66a","name":"Blastgate 1","pca9685":"6095e8fcd95f1634","channel":"1","payload":"[msg.payload]","unit":"microseconds","onStep":"0","x":690,"y":1880,"wires":[]},{"id":"2ed29453c4f4fcdf","type":"PCA9685 out","z":"5cd0d08adae6549a","g":"188afd23066af66a","name":"Blastgate 2","pca9685":"6095e8fcd95f1634","channel":"2","payload":"[msg.payload]","unit":"microseconds","onStep":"0","x":690,"y":1920,"wires":[]},{"id":"a82809e41b482876","type":"PCA9685 out","z":"5cd0d08adae6549a","g":"188afd23066af66a","name":"Blastgate 3","pca9685":"6095e8fcd95f1634","channel":"3","payload":"[msg.payload]","unit":"microseconds","onStep":"0","x":690,"y":1960,"wires":[]},{"id":"f982c882764f2a82","type":"delay","z":"5cd0d08adae6549a","g":"188afd23066af66a","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":520,"y":1960,"wires":[["a82809e41b482876"]]},{"id":"ec60663e3e18f3a4","type":"delay","z":"5cd0d08adae6549a","g":"188afd23066af66a","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":520,"y":1920,"wires":[["2ed29453c4f4fcdf"]]},{"id":"6870b2c018c5f8d7","type":"change","z":"5cd0d08adae6549a","g":"188afd23066af66a","name":"CLOSE","rules":[{"t":"set","p":"payload","pt":"msg","to":"1000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1920,"wires":[["ec60663e3e18f3a4","f7847dcbb64e245a"]]},{"id":"528ccf7dd8d243b6","type":"change","z":"5cd0d08adae6549a","g":"188afd23066af66a","name":"CLOSE","rules":[{"t":"set","p":"payload","pt":"msg","to":"1000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1720,"wires":[["163fb7b4f9c4b561","d80c4340c62e2da2"]]},{"id":"9a8b51609c90b533","type":"change","z":"5cd0d08adae6549a","g":"188afd23066af66a","name":"OPEN","rules":[{"t":"set","p":"payload","pt":"msg","to":"2100","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1960,"wires":[["f982c882764f2a82","6c4b7c0242f6d0a4"]]},{"id":"94be311e87760a2a","type":"change","z":"5cd0d08adae6549a","g":"188afd23066af66a","name":"CLOSE","rules":[{"t":"set","p":"payload","pt":"msg","to":"1000","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":1880,"wires":[["e8b78705577bf1ac","765f27774ff52855"]]},{"id":"45ebdccc649848c8","type":"change","z":"5cd0d08adae6549a","g":"188afd23066af66a","name":"OPEN","rules":[{"t":"set","p":"payload","pt":"msg","to":"2100","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1640,"wires":[["08605d4625fea453","d82e5a4d27205306"]]},{"id":"b8624f3dba25bd00","type":"change","z":"5cd0d08adae6549a","g":"188afd23066af66a","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1640,"wires":[["2dad48441a3186fe"]]},{"id":"024fc8a4705e70dc","type":"change","z":"5cd0d08adae6549a","g":"188afd23066af66a","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1680,"wires":[["bc0ccf9af3dd9a29"]]},{"id":"f60f4e1434dc5822","type":"change","z":"5cd0d08adae6549a","g":"188afd23066af66a","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1720,"wires":[["b96bc9b6e1493fd3"]]},{"id":"d82e5a4d27205306","type":"delay","z":"5cd0d08adae6549a","g":"188afd23066af66a","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":860,"y":1640,"wires":[["b8624f3dba25bd00"]]},{"id":"ae0065437c09099b","type":"delay","z":"5cd0d08adae6549a","g":"188afd23066af66a","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":860,"y":1680,"wires":[["024fc8a4705e70dc"]]},{"id":"d80c4340c62e2da2","type":"delay","z":"5cd0d08adae6549a","g":"188afd23066af66a","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":860,"y":1720,"wires":[["f60f4e1434dc5822"]]},{"id":"87a100bc6d5e0c08","type":"change","z":"5cd0d08adae6549a","g":"188afd23066af66a","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1880,"wires":[["47bde3e5fadaa945"]]},{"id":"53d86ca0539a0ade","type":"change","z":"5cd0d08adae6549a","g":"188afd23066af66a","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1920,"wires":[["efdaa28a2244cbd3"]]},{"id":"1abe95b220dbf088","type":"change","z":"5cd0d08adae6549a","g":"188afd23066af66a","name":"OFF","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1960,"wires":[["0d0b4bdede508414"]]},{"id":"765f27774ff52855","type":"delay","z":"5cd0d08adae6549a","g":"188afd23066af66a","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":860,"y":1880,"wires":[["87a100bc6d5e0c08"]]},{"id":"f7847dcbb64e245a","type":"delay","z":"5cd0d08adae6549a","g":"188afd23066af66a","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":860,"y":1920,"wires":[["53d86ca0539a0ade"]]},{"id":"6c4b7c0242f6d0a4","type":"delay","z":"5cd0d08adae6549a","g":"188afd23066af66a","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":860,"y":1960,"wires":[["1abe95b220dbf088"]]},{"id":"2dad48441a3186fe","type":"PCA9685 out","z":"5cd0d08adae6549a","g":"188afd23066af66a","name":"Blastgate 1","pca9685":"6095e8fcd95f1634","channel":"1","payload":"[msg.payload]","unit":"microseconds","onStep":"0","x":1150,"y":1640,"wires":[]},{"id":"bc0ccf9af3dd9a29","type":"PCA9685 out","z":"5cd0d08adae6549a","g":"188afd23066af66a","name":"Blastgate 2","pca9685":"6095e8fcd95f1634","channel":"2","payload":"[msg.payload]","unit":"microseconds","onStep":"0","x":1150,"y":1680,"wires":[]},{"id":"b96bc9b6e1493fd3","type":"PCA9685 out","z":"5cd0d08adae6549a","g":"188afd23066af66a","name":"Blastgate 3","pca9685":"6095e8fcd95f1634","channel":"3","payload":"[msg.payload]","unit":"microseconds","onStep":"0","x":1150,"y":1720,"wires":[]},{"id":"47bde3e5fadaa945","type":"PCA9685 out","z":"5cd0d08adae6549a","g":"188afd23066af66a","name":"Blastgate 1","pca9685":"6095e8fcd95f1634","channel":"1","payload":"[msg.payload]","unit":"microseconds","onStep":"0","x":1150,"y":1880,"wires":[]},{"id":"efdaa28a2244cbd3","type":"PCA9685 out","z":"5cd0d08adae6549a","g":"188afd23066af66a","name":"Blastgate 2","pca9685":"6095e8fcd95f1634","channel":"2","payload":"[msg.payload]","unit":"microseconds","onStep":"0","x":1150,"y":1920,"wires":[]},{"id":"0d0b4bdede508414","type":"PCA9685 out","z":"5cd0d08adae6549a","g":"188afd23066af66a","name":"Blastgate 3","pca9685":"6095e8fcd95f1634","channel":"3","payload":"[msg.payload]","unit":"microseconds","onStep":"0","x":1150,"y":1960,"wires":[]},{"id":"5fcd319caa0fab4e","type":"delay","z":"5cd0d08adae6549a","g":"188afd23066af66a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":540,"y":1800,"wires":[["7d3a48c896aa85a6"]]},{"id":"fbde97a1788c057a","type":"ui_button","z":"5cd0d08adae6549a","g":"188afd23066af66a","name":"","group":"ee1d81f8d749accd","order":4,"width":6,"height":3,"passthru":false,"label":"Use Saw","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"1","payloadType":"num","topic":"payload","topicType":"msg","x":120,"y":1680,"wires":[["45ebdccc649848c8","6c21521319471c82","528ccf7dd8d243b6","ef33a9fa481d1f96"]]},{"id":"d85936ffa02a31d0","type":"ui_button","z":"5cd0d08adae6549a","g":"188afd23066af66a","name":"","group":"c59b2ba4eda65bcc","order":4,"width":6,"height":3,"passthru":false,"label":"Use Planer","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"1","payloadType":"num","topic":"payload","topicType":"msg","x":130,"y":1920,"wires":[["94be311e87760a2a","6870b2c018c5f8d7","9a8b51609c90b533","ef33a9fa481d1f96"]]},{"id":"7d3a48c896aa85a6","type":"link out","z":"5cd0d08adae6549a","g":"188afd23066af66a","name":"link out 23","mode":"link","links":["480e6ef2cf7c72a5","36041adc7eb784bd","abbdf4729d2b2eea","cfd23c5db8228cf0"],"x":655,"y":1800,"wires":[]},{"id":"664523222497625b","type":"ui_text","z":"5cd0d08adae6549a","g":"345107df9b11731d","group":"34e2d0162e993383","order":1,"width":6,"height":6,"name":"","label":"Statuscodes:","format":"{{msg.payload}}","layout":"col-center","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":800,"y":740,"wires":[]},{"id":"447b55679c1d1975","type":"inject","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"Display Statuscodes","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"5","topic":"","payload":" # <p> Status 0 = standby <p> Status 99 = manual control <p> Status 1 = saw on / planer on <p> Status 2 = saw on / planer off <p> Status 3= Saw off / planer on <p> Status 4 = post-run-period","payloadType":"str","x":600,"y":740,"wires":[["664523222497625b"]]},{"id":"ef33a9fa481d1f96","type":"change","z":"5cd0d08adae6549a","g":"188afd23066af66a","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1800,"wires":[["5fcd319caa0fab4e"]]},{"id":"c89473dff3773022","type":"ads1x15-raspi","z":"5cd0d08adae6549a","g":"01aefba062c2380f","property":"payload","name":"Saw","chip":"IC_ADS1115","i2c_address":"ADDRESS_0x48","channel":"CHANNEL_1","samplesPerSecond0":"SPS_920","samplesPerSecond1":"SPS_8","progGainAmp":"PGA_4_096V","x":490,"y":940,"wires":[["5b3ecdf9b5ef084b"]]},{"id":"5e6cb5b42529cfd8","type":"ads1x15-raspi","z":"5cd0d08adae6549a","g":"01aefba062c2380f","property":"payload","name":"Planer","chip":"IC_ADS1115","i2c_address":"ADDRESS_0x48","channel":"CHANNEL_0","samplesPerSecond0":"SPS_920","samplesPerSecond1":"SPS_128","progGainAmp":"PGA_4_096V","x":480,"y":1060,"wires":[["9487e3aedc48e73e"]]},{"id":"5b3ecdf9b5ef084b","type":"function","z":"5cd0d08adae6549a","g":"01aefba062c2380f","name":"AF","func":"msg.payload.voltage = Math.abs(msg.payload.voltage);\nvar voltage = msg.payload.voltage = Math.abs(msg.payload.voltage);\nvar rounded_voltage = voltage.toFixed(2)\nmsg.payload.rounded_volatage = rounded_voltage;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":940,"wires":[["833a2ec8ff82065e"]]},{"id":"9487e3aedc48e73e","type":"function","z":"5cd0d08adae6549a","g":"01aefba062c2380f","name":"AF","func":"msg.payload.voltage = Math.abs(msg.payload.voltage);\nvar voltage = msg.payload.voltage = Math.abs(msg.payload.voltage);\nvar rounded_voltage = voltage.toFixed(2)\nmsg.payload.rounded_volatage = rounded_voltage;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":1060,"wires":[["202e984e1ed05494"]]},{"id":"089c16ed58dac597","type":"function","z":"5cd0d08adae6549a","g":"01aefba062c2380f","name":"saw status","func":"var status = msg.payload.status\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1410,"y":940,"wires":[["e0842b6f5509207e"]]},{"id":"59d4d9539e22b93d","type":"function","z":"5cd0d08adae6549a","g":"01aefba062c2380f","name":"planer status","func":"var status = msg.payload.status\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1400,"y":1060,"wires":[["7522487d1a52b99c"]]},{"id":"8ca434a37d14d4b8","type":"inject","z":"5cd0d08adae6549a","g":"01aefba062c2380f","name":"Start","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"1","payloadType":"str","x":130,"y":1000,"wires":[["8c348052eb822a49","cfea31084730f04f"]]},{"id":"0b5d0dcabadbc774","type":"change","z":"5cd0d08adae6549a","g":"01aefba062c2380f","name":"Set Status On","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":920,"wires":[["089c16ed58dac597"]]},{"id":"60f8f65e1f6eeb5a","type":"switch","z":"5cd0d08adae6549a","g":"01aefba062c2380f","name":"planer status","property":"payload.voltage","propertyType":"msg","rules":[{"t":"gt","v":"0.5","vt":"num"},{"t":"lt","v":"0.5","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":980,"y":1060,"wires":[["7de654899c17fbd7"],["eed0329801e882ce"]]},{"id":"059da7892dbdfdb9","type":"switch","z":"5cd0d08adae6549a","g":"01aefba062c2380f","name":"saw status","property":"payload.voltage","propertyType":"msg","rules":[{"t":"gt","v":"0.5","vt":"num"},{"t":"lt","v":"0.5","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":990,"y":940,"wires":[["0b5d0dcabadbc774"],["bad5232bc699e746"]]},{"id":"bad5232bc699e746","type":"change","z":"5cd0d08adae6549a","g":"01aefba062c2380f","name":"Set Status off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":960,"wires":[["089c16ed58dac597"]]},{"id":"7de654899c17fbd7","type":"change","z":"5cd0d08adae6549a","g":"01aefba062c2380f","name":"Set Status On","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":1040,"wires":[["59d4d9539e22b93d"]]},{"id":"eed0329801e882ce","type":"change","z":"5cd0d08adae6549a","g":"01aefba062c2380f","name":"Set Status off","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":1080,"wires":[["59d4d9539e22b93d"]]},{"id":"8c348052eb822a49","type":"delay","z":"5cd0d08adae6549a","g":"01aefba062c2380f","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":340,"y":1060,"wires":[["5e6cb5b42529cfd8"]]},{"id":"cfea31084730f04f","type":"delay","z":"5cd0d08adae6549a","g":"01aefba062c2380f","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":350,"y":940,"wires":[["c89473dff3773022"]]},{"id":"d7fa681178f18b1e","type":"ui_gauge","z":"5cd0d08adae6549a","g":"01aefba062c2380f","name":"","group":"ee1d81f8d749accd","order":1,"width":0,"height":0,"gtype":"gage","title":"Saw","label":"Ampere","format":"{{msg.payload.rounded_volatage}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":970,"y":900,"wires":[]},{"id":"18a5b3f0e778f5ab","type":"ui_gauge","z":"5cd0d08adae6549a","g":"01aefba062c2380f","name":"","group":"c59b2ba4eda65bcc","order":1,"width":0,"height":0,"gtype":"gage","title":"Planer","label":"Ampere","format":"{{msg.payload.rounded_volatage}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":960,"y":1100,"wires":[]},{"id":"704b24efc9ab8ff9","type":"ui_text","z":"5cd0d08adae6549a","g":"01aefba062c2380f","group":"ee1d81f8d749accd","order":2,"width":0,"height":0,"name":"","label":"Saw is","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1870,"y":940,"wires":[]},{"id":"e0842b6f5509207e","type":"switch","z":"5cd0d08adae6549a","g":"01aefba062c2380f","name":"status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1590,"y":940,"wires":[["37d4ccb0a144f3b6"],["63a60b43f1444ba2"]]},{"id":"37d4ccb0a144f3b6","type":"change","z":"5cd0d08adae6549a","g":"01aefba062c2380f","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1730,"y":920,"wires":[["704b24efc9ab8ff9"]]},{"id":"63a60b43f1444ba2","type":"change","z":"5cd0d08adae6549a","g":"01aefba062c2380f","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1730,"y":960,"wires":[["704b24efc9ab8ff9"]]},{"id":"46d58fb2a626ec1f","type":"ui_text","z":"5cd0d08adae6549a","g":"01aefba062c2380f","group":"c59b2ba4eda65bcc","order":2,"width":0,"height":0,"name":"","label":"Planer is","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1880,"y":1060,"wires":[]},{"id":"7522487d1a52b99c","type":"switch","z":"5cd0d08adae6549a","g":"01aefba062c2380f","name":"status","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1590,"y":1060,"wires":[["cc53ae5057b39a15"],["b1b8dc71867b4eef"]]},{"id":"cc53ae5057b39a15","type":"change","z":"5cd0d08adae6549a","g":"01aefba062c2380f","name":"on","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1730,"y":1040,"wires":[["46d58fb2a626ec1f"]]},{"id":"b1b8dc71867b4eef","type":"change","z":"5cd0d08adae6549a","g":"01aefba062c2380f","name":"off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1730,"y":1080,"wires":[["46d58fb2a626ec1f"]]},{"id":"86843e0360151556","type":"change","z":"5cd0d08adae6549a","g":"01aefba062c2380f","name":"Global Saw Voltage","rules":[{"t":"set","p":"saw_voltage_global","pt":"global","to":"payload.voltage","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":860,"wires":[[]]},{"id":"d72fc850298bb5c4","type":"change","z":"5cd0d08adae6549a","g":"01aefba062c2380f","name":"Global Planer Voltage","rules":[{"t":"set","p":"planer_voltage_global","pt":"global","to":"payload.voltage","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1140,"wires":[[]]},{"id":"af2ce1b480520a17","type":"link out","z":"5cd0d08adae6549a","g":"14f5a5b223319a48","name":"link out 27","mode":"link","links":["abbdf4729d2b2eea","36041adc7eb784bd","cfd23c5db8228cf0","480e6ef2cf7c72a5"],"x":1005,"y":1500,"wires":[]},{"id":"abbdf4729d2b2eea","type":"link in","z":"5cd0d08adae6549a","g":"14f5a5b223319a48","name":"link in 6","links":["af2ce1b480520a17","73764a598cc00c35","7d3a48c896aa85a6","46f9243f446618a2"],"x":1215,"y":1280,"wires":[["e2090752226e3e42"]]},{"id":"cfd23c5db8228cf0","type":"link in","z":"5cd0d08adae6549a","g":"14f5a5b223319a48","name":"link in 7","links":["7d3a48c896aa85a6","af2ce1b480520a17"],"x":1215,"y":1460,"wires":[["f326070b8b034ce0"]]},{"id":"2c775f6a7eb76cef","type":"switch","z":"5cd0d08adae6549a","g":"345107df9b11731d","name":"","property":"payload.blank","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":700,"wires":[["c81d9f670b053bb7"]]},{"id":"1c44a5056639603d","type":"ui_switch","z":"5cd0d08adae6549a","d":true,"g":"06c6c60130296981","name":"","label":"Automatic-mode","tooltip":"","group":"61b6d0d42169333a","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"99","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":770,"y":2120,"wires":[["51e5b33c36cea90a","ec60fa279b2cfb07"]]},{"id":"ab314c054bbfa5eb","type":"ui_button","z":"5cd0d08adae6549a","g":"06c6c60130296981","name":"","group":"61b6d0d42169333a","order":6,"width":"6","height":"3","passthru":false,"label":"Manual Control","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"99","payloadType":"num","topic":"topic","topicType":"msg","x":790,"y":2180,"wires":[["51e5b33c36cea90a","ec60fa279b2cfb07"]]},{"id":"70a5dddcd76a2c4e","type":"ui_button","z":"5cd0d08adae6549a","g":"06c6c60130296981","name":"","group":"61b6d0d42169333a","order":7,"width":"6","height":"3","passthru":false,"label":"Automatic Mode","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":790,"y":2220,"wires":[["51e5b33c36cea90a","ec60fa279b2cfb07"]]},{"id":"833a2ec8ff82065e","type":"function","z":"5cd0d08adae6549a","g":"01aefba062c2380f","name":"function 1","func":"var buffer = context.get(\"voltageBuffer\") || [];\n\nvar voltage = msg.payload.voltage;\n\nbuffer.push(voltage);\n\nif (buffer.length > 3) {\n    buffer.shift();\n}\n\ncontext.set(\"voltageBuffer\", buffer);\n\nif (buffer.length === 3) {\n    var avgPrevious = (buffer[0] + buffer[1]) / 2;\n\n    if (Math.abs(buffer[2] - avgPrevious) > 1.0 && buffer[2] < 0.5) {\n        node.warn(\"Anomaly with voltage.: \" + buffer[2]);\n        return null;\n    }\n}\n\nreturn { payload: { voltage: voltage, buffer: buffer } };\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":940,"wires":[["86843e0360151556","059da7892dbdfdb9","d7fa681178f18b1e"]]},{"id":"202e984e1ed05494","type":"function","z":"5cd0d08adae6549a","g":"01aefba062c2380f","name":"function 2","func":"var buffer = context.get(\"voltageBuffer\") || [];\n\nvar voltage = msg.payload.voltage;\n\nbuffer.push(voltage);\n\nif (buffer.length > 3) {\n    buffer.shift();\n}\n\ncontext.set(\"voltageBuffer\", buffer);\n\nif (buffer.length === 3) {\n    var avgPrevious = (buffer[0] + buffer[1]) / 2;\n\n    if (Math.abs(buffer[2] - avgPrevious) > 1.0 && buffer[2] < 0.5) {\n        node.warn(\"Anomaly with voltage.: \" + buffer[2]);\n        return null;\n    }\n}\n\nreturn { payload: { voltage: voltage, buffer: buffer } };\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":1060,"wires":[["60f8f65e1f6eeb5a","18a5b3f0e778f5ab","d72fc850298bb5c4"]]},{"id":"cf9ace9795e76465","type":"ui_spacer","z":"5cd0d08adae6549a","name":"spacer","group":"c59b2ba4eda65bcc","order":3,"width":6,"height":1},{"id":"5c040e0ff6a411a4","type":"ui_spacer","z":"5cd0d08adae6549a","name":"spacer","group":"ee1d81f8d749accd","order":3,"width":6,"height":1},{"id":"6393b0c48baf5922","type":"ui_spacer","z":"5cd0d08adae6549a","name":"spacer","group":"61b6d0d42169333a","order":2,"width":6,"height":1},{"id":"9b11d006183b510c","type":"ui_spacer","z":"5cd0d08adae6549a","name":"spacer","group":"61b6d0d42169333a","order":6,"width":6,"height":1},{"id":"6095e8fcd95f1634","type":"PCA9685","deviceNumber":"0","address":"64","frequency":"50"},{"id":"61b6d0d42169333a","type":"ui_group","name":"Automatic","tab":"a9073cbe6dd7373f","order":7,"disp":true,"width":6,"collapse":false,"className":""},{"id":"e5b09f7275653156","type":"ui_group","name":"Blastgate 3","tab":"a9073cbe6dd7373f","order":3,"disp":true,"width":4,"collapse":false,"className":""},{"id":"80dc1403ee03b425","type":"ui_group","name":"Blastgate 2","tab":"a9073cbe6dd7373f","order":2,"disp":true,"width":4,"collapse":false,"className":""},{"id":"44cb3c51271f997d","type":"ui_group","name":"Blastgate 1","tab":"a9073cbe6dd7373f","order":1,"disp":true,"width":4,"collapse":false,"className":""},{"id":"8b6c3f0b2409b73a","type":"ui_group","name":"Dustcollector","tab":"a9073cbe6dd7373f","order":4,"disp":true,"width":4,"collapse":false,"className":""},{"id":"ee1d81f8d749accd","type":"ui_group","name":"Status Saw","tab":"a9073cbe6dd7373f","order":6,"disp":true,"width":"6","collapse":false,"className":""},{"id":"c59b2ba4eda65bcc","type":"ui_group","name":"Status Planer","tab":"a9073cbe6dd7373f","order":5,"disp":true,"width":"6","collapse":false,"className":""},{"id":"34e2d0162e993383","type":"ui_group","name":"Statuscodes","tab":"a9073cbe6dd7373f","order":9,"disp":true,"width":"6","collapse":false,"className":""},{"id":"a9073cbe6dd7373f","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]